* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: cornflowerblue;
    color: white;
    text-shadow: 2px 2px #222;
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

body {
    text-align: center;
}

main div {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #222;
    color: white;
    margin-top: 0px;
}

footer h4 {
    color: #d62828;
    max-width: 300px;
    margin: 40px auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

footer h4:hover {
    color: #702626;
    transform: scale(1.25);
    transition: 0.2s;
}